<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @truck.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @truck.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @truck.model %>
</p>

<p>
  <strong>Price:</strong>
  <%= @truck.price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @truck.price %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @truck.owner %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @truck.availability %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
